
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Golos+Text:wght@700&family=Oxygen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.normal-family{

font-family: 'Cabin', sans-serif;
}
.bold-family{

font-family: 'Golos Text', sans-serif;
}
.normal-family2{


font-family: 'Oxygen', sans-serif;
}
.normal-family3{
font-family: 'Inter', sans-serif;
}
.bold-family2{
font-family: 'Secular One', sans-serif;
} 
.cr{
  transition: 500ms;
}
.cr:hover{
  color:#ff5c97 !important;

}

@media screen and (min-width : 992px)
{
  .me-lg-5 {
    margin-right: 3rem !important;
  }
  .create-padding {
    padding-top: 240px;
    padding-bottom: 190px;
  }
  .create-padding1 {
    padding-top: 53px;
    padding-bottom: 190px;
  }

}
@media screen  and  (max-width : 992px){
  .navbar-nav li  .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.623);
  }
  
  .padding {
    
    padding-bottom: 64px;
  }
  .k {
    font-size: 40px;
    padding: 2px 24px;
  }
  .single-generating{
    padding: 39px 6px !important;
  }
  .contact-form {
    margin-top: 64px;
  }
  .project{
    padding: 44px 17px !important;
  }
  .footer-area {
    padding: 157px 13px !important;
  }
  .we-create-img{
    display: none;
  }
  .titleee{
    width: 100%;
  }
  .titlee {
    width: 100%;
    color: #2b4b80;
  }
  .create-padding {
    padding-top: 120px;
    padding-bottom: 95px;
  }
  .fa-quote-left ,  .fa-quote-right{
    display: none;
  }
  .hero__caption{
    margin-top: 74px;
  }
  .show ul li a {
    color: white;
  }
  .show{
  
    font-size: 16px;

padding: 5px;
clear: both;

margin-left: 10px;
font-size: .875em;
    
  }
  .f-right{
    float: none;
  }
  .nav-main{
    position: absolute;
    top: 10px;
    z-index: 2;
    background-color: rgb(36, 35, 35);
  }
  .nav-button{
    height: 50px;
    background-color: rgb(36, 35, 35);
  }

  .navbar-toggler{
    position: absolute;
top: 9px;
right: 10px;
border: none !important;
outline: none !important;
color: white !important;
background-color: rgb(26, 24, 24);
  }
  .navbar-toggler-icon{
    color: white !important;
  }
  .blog_item{
    padding: 0 !important;
  }
}

@media  screen and (min-width: 1400px)
{
.container{
  max-width: 1125px;
}
}
.button{
  background: #ff5c97;
  -moz-user-select: none;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  padding: 30px 44px;
  border-radius: 5px;
  min-width: 200px;

  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0
}
.light-color{
  color: rgba(0, 0, 0, 0.404);
}
a{
  text-decoration: none;

}
li{
  list-style-type: none;
}
.blue-color{
  color: #2b4b80;
}
.font-size{
  color: #707b8e;
font-size: 16px;
line-height: 30px;
font-family: 'Inter', sans-serif;
font-weight: normal;
}
ul {
  padding-left: 0rem !important;
}
input{
  outline: none;
}