*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.nav-item{
  margin-right: 20px;
}
.button-nav{
  background: #4043bc;
  padding: 6px 11px;
  min-width: 120px;
  position: relative;
color: white;
}
.we-col{
  font-size: 65px;
font-weight: 700;
color: #404079;
text-transform: capitalize;
margin-bottom: 10px;
}
.hero__caption{
  margin-bottom: 228px;
}
.image-hero{
  max-width: 584px;
max-height: 636px;
vertical-align: middle;
margin-top: -38px;
}